.admin-page {
  background-color: #141414;
  min-height: 100vh;
  color: white;
}

.admin-content {
  padding: 20px 4%;
}

.admin-sections {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .admin-sections {
    flex-direction: column;
  }
}
