body {
    background-color: black;
    color: white;
  }
  
  .object-fit-cover {
    object-fit: cover;
  }
  
  .z-1 {
    z-index: 1;
  }
  
  /* Custom styles for form elements */
  .form-control::placeholder {
    color: #aaa;
  }
  
  .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  }
  
  .form-select option {
    background-color: black;
  }