/* MoviePage.css */
.movie-page {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.movie-banner {
  height: 500px;
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.movie-info {
  position: absolute;
  top: 20%;
  left: 20px;
  max-width: 700px;
  transition: opacity 0.5s ease;
}

.movie-info.hide-info {
  opacity: 0;
}

.movie-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
}

.movie-description {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #ccc;
  line-height: 1.6;
}

.movie-media {
  margin-bottom: 30px;
}

.movie-video {
  width: 100%;
  border-radius: 8px;
}

.movie-details {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}

.movie-category, .movie-rating, .movie-duration {
  font-size: 1.1em;
  color: #ccc;
}

.movie-starring {
  font-size: 1.2em;
  color: #fff;
  font-weight: 600;
}

.loading {
  color: #007bff;
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
}
